{% extends "@App/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #note, #errorMessage{
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="ui clearing segment">
        <div class="ui container">
            <div id="errorMessage" class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    Błąd dodawania!
                </div>
                <p></p>
            </div>
            <div class="ui red segment">
                <h3>KW</h3>
            </div>
            <div class="ui form">
                {{ form_start(form) }}
                <div class="field">
                    {{ form_label(form.transactionDate) }}
                    {{ form_widget(form.transactionDate) }}
                </div>
                <div class="field">
                    {{ form_label(form.recipient) }}
                    {{ form_widget(form.recipient) }}
                </div>
                <div id="note" class="field">
                    <label>Informacje</label>
                    <div></div>
                </div>
                <div class="field">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                <div class="field">
                    {{ form_label(form.amount) }}
                    {{ form_widget(form.amount) }}
                </div>
                <div class="field">
                    {{ form_label(form.param) }}
                    {{ form_widget(form.param) }}
                </div>
                <div class="field">
                    <input type="submit"
                           class="ui green right floated button"
                           value="Zapisz i drukuj potwierdzenie">
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/assets/jquery.inputmask.bundle.min.js') }}"></script>
    <script>
        {% set printId = app.flashes('print') %}
        {% if printId is defined and printId|length > 0 %}
            var url = '{{ path('print_standard_kw', {'id': printId[printId|length-1]}) }}';
            var win = window.open(url, '_blank');
            win.focus();
        {% else %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {% if label == "error" %}
                    $("#errorMessage").show();
                    $("#errorMessage p").text('{{ message }}');
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        let getDriverNoteRoute = '{{ path('get_driver_note_kw_ajax') }}';
        let getCompanyNoteRoute = '{{ path('get_company_note_kw_ajax') }}';

        $(document).ready(function(){
            $("#kwform_transactionDate").prop('disabled', true);
        });
    </script>
    <script src="{{ asset('bundles/app/js/kw/kw_standard_add.js') }}"></script>
{% endblock %}

