{% extends "@App/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/assets/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/assets/calendar.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/assets/sweetalert2.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/app.css') }}">
    <style>

    </style>
{% endblock %}

{% block body %}
    <div id="mainContent" data-unsigned="">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {% if label == "warning" %}
                    <div class="ui negative message">
                        <i class="close icon"></i>
                        <div class="header">
                            Błąd dodawania!
                        </div>
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <div class="ui segment" >
            <div class="ui form container">
                {{ form_start(form) }}
                <div class="two fields">
                    <div class="field">
                        <label>Kierowca</label>
                        {{ form_widget(form.driver) }}
                    </div>
                    <div class="inline fields">
                        <div class="field">
                            <label></label>
                            {{ form_widget(form.ownCards) }}
                        </div>
                        <div class=" field">
                            <label></label>
                            {{ form_widget(form.bankTransaction) }}
                        </div>
                    </div>
                </div>

                <div class="inline fields">
                    <label>Kolejność rozliczania transakcji</label>
                    {% for item in form.settlementOrder %}
                        <div class="field">
                            <div class="ui radio checkbox">
                                {{ form_widget(item) }}
                                {{ form_label(item) }}
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <div class="field" style="margin-bottom: 15px;">
                    <div id="btnSearch"
                         data-url="{{ path('route_transaction_settlement_api_get') }}"
                         class="ui bottom right floated button">Szukaj...</div>
                </div>
                <div class="field">
                    <table id="settlementTable"
                           class="display cell-border" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Data transakcji</th>
                            <th>Typ transakcji</th>
                            <th>Kwota</th>
                            <th>Rozliczono</th>
                            <th>Do wypłaty</th>
                            <th>Firma</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="fields">
                    <div class="seven wide field"></div>
                    <div class="three field">
                        <label>Razem</label>
                        {{ form_widget(form.amount) }}
                    </div>
                    <div class="three field">
                        <label>Potrącenie</label>
                        {{ form_widget(form.deduction) }}
                    </div>
                    <div class="three field">
                        <label>Do wypłaty</label>
                        {{ form_widget(form.toPay) }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Tytułem</label>
                        {{ form_widget(form.title) }}
                    </div>
                    <div class="field">
                        <label>Rodzaj</label>
                        {{ form_widget(form.param) }}
                    </div>
                </div>
                <div class="four fields">
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field"></div>
                    <div class="field">
                        <input type="submit"
                                id="btnSettlement"
                                class="ui green fluid button"
                               value="Rozlicz i drukuj potwierdzenie"/>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/assets/datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/assets/dataTablesLanguage.js') }}"></script>
    <script src="{{ asset('bundles/app/js/assets/calendarSettings.js') }}"></script>
    <script src="{{ asset('bundles/app/js/assets/calendar.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/assets/sweetalert2.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.message .close')
                .on('click', function() {
                    $(this)
                        .closest('.message')
                        .transition('fade')
                    ;
                })
            ;
        });
        {% set printId = app.flashes('print') %}
        {% if printId is defined and printId|length > 0 %}
            var url = '{{ path('print_settlement_kw', {'id': printId[printId|length-1]}) }}';
            var win = window.open(url, '_blank');
            win.focus();
        {% endif %}
    </script>
    <script src="{{ asset('bundles/app/js/transaction/settlement.js') }}"></script>
{% endblock %}

