<div class="ui active tab" data-tab="t1">
    {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
    {{ form_row(form._token) }}
    <div class="ui segment">
        <div class="ui two column grid">
            <div class="column">
                <div class="inline field">
                    <label>American Express</label>
                    {{ form_widget(form.americanExpress, {'attr':{'style':'width: 250px'}}) }}
                </div>
                <div class="inline field">
                    <label>Visa/MasterCard/Inne</label>
                    {{ form_widget(form.visaMasterCard, {'attr':{'style':'width: 250px'}}) }}
                </div>
                <div class="inline field">
                    <label>Karty własne</label>
                    {{ form_widget(form.card, {'attr':{'style':'width: 250px'}}) }}
                </div>
                <div class="inline field">
                    <label>Voucher</label>
                    {{ form_widget(form.voucher, {'attr':{'style':'width: 250px'}}) }}
                </div>
                <div class="inline field">
                    <label>eVoucher</label>
                    {{ form_widget(form.eVoucher, {'attr':{'style':'width: 250px'}}) }}
                </div>
                <div class="inline field">
                    <label>Koszt przelewu</label>
                    <div class="ui right labeled input">
                        {{ form_widget(form.bankTransferCost, {'attr':{'style':'width: 235px'}}) }}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="inline field">
                    <label>Nazwa Banku</label>
                    {{ form_widget(form.bankName, {'attr':{'style':'width: 300px'}}) }}
                </div>
                <div class="inline field">
                    <label>Konto do przelewu</label>
                    {{ form_widget(form.bankAccount, {'attr':{'style':'width: 300px'}}) }}
                </div>
                <div class="inline field">
                    <label>Konto do wpłat od firm</label>
                    {{ form_widget(form.bankAccountToFirm, {'attr':{'style':'width: 300px'}}) }}
                </div>
                <div class="inline field">
                    <label>SWIFT</label>
                    {{ form_widget(form.swift, {'attr':{'style':'width: 300px'}}) }}
                </div>
                <div class="inline field">
                    <label>Darmowe przelewy</label>
                    {{ form_widget(form.freeTransferBankAccount, {'attr':{'style':'width: 300px'}}) }}
                </div>
                <div class="inline field">
                    <label>VAT</label>
                    {{ form_widget(form.vat, {'attr':{'style':'width: 270px'}}) }}
                </div>
                <div class="inline field">
                    <label>Termin płatności(dni)</label>
                    {{ form_widget(form.daysToPay, {'attr':{'style':'width: 300px'}}) }}
                </div>
            </div>
        </div>
        <div id="right-content">
            <a class="ui item" id="save">
                <input class="ui green button" type="submit" value="ZAPISZ">
            </a>
        </div>
    </div>
    {{ form_end(form) }}
</div>

